// Predominantly handled by Tailwind.
:host {
    display: block;
    height: 100vh;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #3b4354;
    border-radius: 10px;
}